.*.eprj
*.svn
*.pyc
*.orig
.DS_Store
*~
\#*\#

*.o
*.so

*.dmg
*.jar

*.hg
*.hgignore
.hg/*
.hgignore

*.dropbox
.dropbox

Icon*

legacy/
photo/
ost2/portfolio/static/portfolio/

_zips/
_eggcache/
_que/
_defunct/
